.custom-featured-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}

.custom-featured-product {
  text-decoration: none;
  color: inherit;
}

.custom-featured-product-image {
  width: 100%;
  height: auto;
}

.custom-featured-product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}