.swiper-slider-content {
  display: flex;
  position: relative;
}

.swiper-slider-content-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-slider-content-dot-wrapper {
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  inset: 0;
}

.swiper-slider-content-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
}

.swiper-slider-content-description {
  position: absolute;
  margin: 0;
  line-height: 1;
  width: max-content;
  padding: 8px 12px;
  max-width: 300px;
  opacity: 0;
}

.swiper-slider-wrapper {
  position: relative;
}

.swiper-slider-wrapper .swiper {
  position: absolute;
  inset: 0;
}

.swiper-slider-wrapper .swiper .swiper-button-next,
.swiper-slider-wrapper .swiper .swiper-button-prev {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 12px;
}

.swiper-slider-wrapper .swiper .swiper-button-next:after,
.swiper-slider-wrapper .swiper .swiper-button-prev:after {
  content: unset;
}

.swiper-slider-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.swiper-slider-content-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slider-content-navigation span {
  cursor: pointer;
  position: relative;
  z-index: 2;
  font-size: 32px;
}

.swiper-slider-content-navigation span.active {
  text-decoration: underline;
}

.swiper-slider-content-navigation span:hover {
  font-weight: 700;
  color: green;
  text-decoration: underline;
}

@media only screen and (max-width: 749px) {
  .swiper-slider-content-wrapper {
    grid-template-columns: 1fr;
  }
  
  .swiper-slider-content-navigation {
    padding: 36px 48px;
  }
}